<script>
  jQuery(document).ready(function($) {  
  
  $(window).on('load', function(){
    $('#preloader').fadeOut('slow',function(){$(this).remove();});
  });
  
  });
</script>

<style type="text/css">
  div#preloader { position: fixed; 
      left: 0; 
      top: 0; 
      z-index: 999; 
      width: 100%; 
      height: 100%; 
      overflow: visible; 
      background: #fff url('http://preloaders.net/preloaders/720/Moving%20line.gif') no-repeat center center; 
  }

</style>

<div id="preloader">

</div>

<script>
  function code_toggle() {
    if (code_shown){
      $('div.input').hide('500');
      $('#toggleButton').val('Show Code')
    } else {
      $('div.input').show('500');
      $('#toggleButton').val('Hide Code')
    }
    code_shown = !code_shown
  } 
  
  $( document ).ready(function(){
    code_shown=false; 
    $('div.input').hide()
  });
</script>
<form action="javascript:code_toggle()"><input type="submit" id="toggleButton" value="Show Code"></form>

##This is markdown
ภาษาไทยวันละคำ

#ภาษาไทยตัวใหญ่

In [1]:
#how does server know where to find these python lib?
import pandas as pd
pd.set_option('max_rows', 20)

#encoding for thai font : cp874/iso8859_11
data = pd.read_csv('assets/gdpth5060_e.csv', index_col=0, encoding='cp874')
data.head()

,Unnamed: 1,2560 p,2559 r,2558 r,2557 r,2556,2555,2554,2553,2552,2551,2550
1,1. จำนวนประชากร (ล้านคน),66.19,65.93,65.73,65.12,64.79,64.46,64.08,63.88,63.53,63.39,63.04
2,2.ผลิตภัณฑ์ในประเทศ (อนุกรมใหม่) 2/,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.1 ผลิตภัณฑ์มวลรวมในประเทศ แบบปริมาณลูกโซ่ (พ...,....,9823.10,9510.90,9232.10,9142.10,8902.80,8301.60,8232.40,7657.10,7710.30,7579.50
4,(% การเปลี่ยนแปลง),....,3.30,3.00,1.00,2.70,7.20,0.80,7.50,-0.70,1.70,5.40
5,2.1.1 ภาคเกษตรกรรม (พันล้านบาท),....,602.00,617.20,658.50,660.40,655.80,638.50,600.70,603.40,604.90,587.70

<script>
  $(document).ready(function(){
    $('div.prompt').hide();
    $('div.back-to-top').hide();
    $('nav#menubar').hide();
    $('.breadcrumb').hide();
    $('.hidden-print').hide();
  });
</script>

<footer id="attribution" style="float:right; color:#999; background:#fff;">
Created with Jupyter, delivered by Fastly, rendered by Rackspace.
</footer>